<div class="input-group rm53-predictive-search">
    <ul ng-if="psvm.multiSelect && psvm.selectedItems.length > 0">
        <li ng-repeat="item in psvm.selectedItems" class="rm53-predictive-search-item-wrapper" ng-class="{'rm53-invalid-item': item.isValid}">
            <rm53-predictive-search-item data="item"></rm53-predictive-search-item>
        </li>
    </ul>
    <input  type="text"
            class="form-control"
            aria-label="relationships predictive search"
            id="{{psvm.name}}"
            name="{{psvm.name}}"
            placeholder="{{psvm.searchPlaceholder}}"
            ng-model="psvm.viewValue"
            ng-change="psvm.matches.length = 0"
            ng-focus="psvm.focus = true"
            ng-blur="psvm.focus = false"
            rm53-input-autosize
            uib-typeahead="searchMatch for searchMatch in psvm.getMatches()"
            typeahead-on-select="psvm.addSelectedItem($item, $model, $label, $event, false)"
            typeahead-popup-template-url="typeahead/popup/default.html"
            typeahead-template-url="{{psvm.matchTemplate}}"
            typeahead-min-length="psvm.minLength"
            typeahead-input-formatter="psvm.inputFormatter || null"
            autocomplete="off">
    <span class="input-group-btn" ng-if="!psvm.multiSelect">
        <button type="submit" ng-disabled="true" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
    </span>
    <div ng-show="psvm.focus && (psvm.viewValue.length && (psvm.loading  || !psvm.matches.length))"
         class="no-results custom-popup-wrapper">
        <ul class="dropdown-menu" role="listbox">
            <li ng-show="psvm.viewValue.length >= psvm.minLength && (!psvm.loading || psvm.disabledSpinner)">No Results Found!</li>
            <li ng-show="psvm.viewValue.length && psvm.viewValue.length < psvm.minLength && !psvm.loading">Please enter at least {{psvm.minLength}} characters...</li>
            <li ng-show="psvm.viewValue.length && psvm.loading && !psvm.disabledSpinner">
                Loading...
            </li>
        </ul>
    </div>
</div>

<script type="text/ng-template" id="predictiveSearch/selectedItem/default.html">
    <span ng-bind="getDisplayText()"></span>
    <button class="rm53-close-button" ng-click="removeTag()"><i class="glyphicon glyphicon-remove" aria-hidden="true"></i><span class="sr-only">Remove Item</span></button>
</script>

<script type="text/ng-template" id="typeahead/match/relationship.html">
    <a href="" class="rm53-relationship-match" ng-class="{'child': match.model.isChild, 'parent': !match.model.isChild}">
        <span class="rm53-relationship-match-company" ng-bind-html="match.model.company | properNoun | uibTypeaheadHighlight:query"></span>
        <span class="rm53-relationship-match-type" ng-if="match.model.companyType"><i> {{match.model.companyType | lowercase}}</i></span>
    </a>
</script>
<script type="text/ng-template" id="typeahead/match/employee.html">
    <a href="" class="rm53-employee-match">
        <span class="rm53-employee-match-name" ng-bind-html="match.model.fullName | properNoun | uibTypeaheadHighlight:query"></span>
    </a>
</script>
<script type="text/ng-template" id="typeahead/popup/default.html">
    <div class="custom-popup-wrapper"
         ng-style="{top: position().top+'px', left: position().left+'px'}"
         style="display: block;"
         ng-show="isOpen() && !moveInProgress"
         aria-hidden="{{!isOpen()}}">
        <ul class="dropdown-menu" role="listbox">
            <li class="rm53-predictive-search-match"
                ng-repeat="match in matches track by $index"
                ng-class="{'active': isActive($index)}"
                ng-click="selectMatch($index, $event)"
                ng-mouseenter="selectActive($index)">
                <div uib-typeahead-match index="$index" match="match" query="query" template-url="templateUrl"></div>
            </li>
        </ul>
    </div>
</script>

